@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${NPM_TIPTAP_TOKEN}

# Hoist eslint binaries so they are accessible from workspace packages
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
