jobs:
  runs:
    post-restore:
      ~needs: [ pg, hasura ]
      use: psql
      with:
        sqlFile: .kontinuous/sql/post-restore.sql
        pgSecretRefName: pg-app

hasura:
  imagePackage: hasura
  ~needs: [ pg ]
  ~preDeploy.cleaner:
    match:
      kind: Deployment
    value: true
  envFrom:
    - secretRef:
        name: pg-superuser
    - configMapRef:
        name: hasura
    - secretRef:
        name: hasura
  env:
    - name: "HASURA_GRAPHQL_DATABASE_URL"
      value: "postgresql://$(username):$(password)@$(host):$(port)/cdtn-admin?sslmode=require"

export:
  env:
    - name: "BRANCH_NAME_SLUG"
      value: "{{.Values.global.branchSlug32}}"

pg:
  ~chart: pg
  # force this PG cluster to be destroyed/recreated on redeploys
  ~preDeploy.cleaner:
    match:
      kind: Cluster
    value: true
  cnpg-cluster:
    backup:
      # don't enable backup because we would need a new path each time as the cluster is recreated
      ~tpl~enabled: "false"
    recovery:
      enabled: true
      ~tpl~database: "{{ .Values.global.pgDatabase }}"
      ~tpl~owner: "{{ .Values.global.pgUser }}"
      secretName: "pg-db"
      barmanObjectStore:
        ~tpl~destinationPath: "s3://cdtn-prod-backups/cdtn-admin-2026-01-14_12-00"
        s3Credentials:
          accessKeyId:
            ~tpl~name: "cdtn-prod-backups-access-key"
            key: bucket_access_key
          secretAccessKey:
            ~tpl~name: "cdtn-prod-backups-access-key"
            key: bucket_secret_key
          region:
            ~tpl~name: "cdtn-prod-backups-access-key"
            key: bucket_region
    annotations:
      oblik.socialgouv.io/min-request-cpu: "500m"
      oblik.socialgouv.io/min-request-memory: "500Mi"
      oblik.socialgouv.io/min-limit-cpu: "1000m"
      oblik.socialgouv.io/min-limit-memory: "2Gi"
