name: Code quality

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  cancel-in-progress: true
  group: quality-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"
      - name: Install dependencies
        env:
          NPM_TIPTAP_TOKEN: ${{ secrets.TIPTAP_PRO_TOKEN }}
        run: pnpm install --frozen-lockfile
      - name: Build code
        run: |
          pnpm build
      - name: Cache build
        uses: actions/cache@v4
        with:
          path: ./*
          key: ${{ github.sha }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        repositories:
          [
            "frontend",
            "alert-cli",
            "ingester",
            "export-elasticsearch",
            "@socialgouv/cdtn-elasticsearch",
          ]
    steps:
      - uses: actions/cache@v4
        name: Restore build
        with:
          path: ./*
          key: ${{ github.sha }}
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"
      - name: Lint ${{ matrix.repositories }}
        run: |
          pnpm --filter "${{ matrix.repositories }}" lint

  format:
    name: Check format
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/cache@v4
        name: Restore build
        with:
          path: ./*
          key: ${{ github.sha }}
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"
      - name: Check format
        run: |
          pnpm format:check

  Type-check:
    name: Type-check
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        repositories:
          [
            "frontend",
            "alert-cli",
            "ingester",
            "export-elasticsearch",
            "@socialgouv/cdtn-types",
            "@shared/utils",
          ]
    steps:
      - uses: actions/cache@v4
        name: Restore build
        with:
          path: ./*
          key: ${{ github.sha }}
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"
      - name: Type-check ${{ matrix.repositories }}
        run: |
          pnpm --filter "${{ matrix.repositories }}" type-check

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        repositories:
          [
            "frontend",
            "alert-cli",
            "ingester",
            "export-elasticsearch",
            "@socialgouv/cdtn-elasticsearch",
            "@shared/utils",
          ]
    steps:
      - uses: actions/cache@v4
        name: Restore build
        with:
          path: ./*
          key: ${{ github.sha }}
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"
      - name: Test ${{ matrix.repositories }}
        run: |
          pnpm --filter "${{ matrix.repositories }}" test

  docker:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v1.7.0
        with:
          failure-threshold: error
          recursive: true
